.catalog {
  &__categories {
    display: flex;
    justify-content: center;
    .content-wrapper {
      height: 100%;
    }
    @include bg('images-modal4.png');
    height: 33vw;
    &__text {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;
      &__nav {
        display: flex;
        justify-content: space-between;
        &__item {
          &--active {
            color: $pink;
          }
        }
      }

      &__description {
        align-items: center;
        display: flex;
        flex-grow: 1;
        p {
          color: white;
          font-size: 2rem;
          font-style: italic;
          font-weight: 500;
          @include device('phone') {
            font-size: 1rem;
          }
        }
      }
    }
  }
  &__filtered-products {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    margin: 2rem auto;
    @include device('phone') {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__wrapper {
      text-align: center;
    }
    &__filters {
      @include card-base;
      flex-direction: column;
      > * {
        margin-bottom: 3rem auto;
        width: 80%;
      }
      @include device('phone') {
        margin-bottom: 1rem;
        padding: 1rem;
        > * {
          margin: 1rem auto;
        }
      }
      &__header {
        h2 {
          font-weight: 300;
          text-align: left;
          span {
            font-weight: 600;
          }
        }
      }
      &__categories {
        > div {
          display: flex;
          align-items: center;
        }
      }
      &__attributes {
        .filter-attributes {
          > * {
            margin: 3rem auto;
          }
          &__header {
            margin: 0;
            text-align: left;
            &--size {
              margin-bottom: 2rem;
            }
          }
          &__content {
            &__items {
              display: grid;
              grid-gap: 2px;
              grid-template-columns: repeat(5, 1fr);
              &--color {
                grid-template-columns: repeat(7, 1fr);
              }
            }
            &__tip {
              height: 2rem;
            }
            .color-item-wrapper {
              display: flex;
              align-items: center;
              border-radius: 50%;
              justify-content: center;
              height: 2.5rem;
              width: 2.5rem;
              &.selected {
                border: 1px solid #999;
              }
              .color-item {
                border-radius: 50%;
                cursor: pointer;
                width: 1.5rem;
                height: 1.5rem;
                transition: border-radius .5s ease;
              }
            }

            .size-item {
              background: rgba(225, 225, 225, 0.9);
              cursor: pointer;
              height: 2.5rem;
              line-height: 1.75;
              font-weight: 200;
              &.selected {
                background: $pink;
                color: white;
              }
            }
          }
        }
      }
    }
    &__products {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 36rem);
      @include device('phone') {
        display: flex;
        flex-direction: column;
        &__product {
          height: 36rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
