.home-page {
  .jumbotron--home-page {
    @include bg('images-woman1.png');
    height: 50vw;
    &__text {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 50%;
      @include device(phone) {
        width: 75%;
      }
      h2 {
        color: white;
        font-size: 3rem;
        @include device(tab) {
          font-size: 1.75rem;
        }
        @include device(phone) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .grid-section {
    display: grid;
    grid-template-rows: repeat(3, 36rem);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 2rem auto;
    @include device(tab) {
      grid-template-rows: repeat(3, 24rem);
    }
    @include device(phone) {
      display: flex;
      flex-direction: column;
    }
    > * {
      @include device(phone) {
        height: 36rem;
        margin: 1rem auto;
        width: 100%;
      }
    }
    &__box--1 {
      @include card-base;
      grid-column: 1 / 4;
    }
    &__box--2, &__box3 {
      grid-column: 1 / 2;
      @include center-content;
    }
    &__box--3 {
      grid-row: 3 / 4;
      @include center-content;
    }
    &__box--4 {
      @include card-base;
      grid-column: 2 / 4;
      grid-row: 2 / 4;
      .ad {
        height: 100%;
        width: 100%;
        &__picture {
          @include bg('images-model3.png');
          height: 80%;
          @include device(tab) {
            height: 70%;
          }
        }
        &__action {
          text-align: center;
        }
      }
    }
  }  
}
